IOT_BRIDGE_API_LISTEN=0.0.0.0:8099
IOT_BRIDGE_TH_TCP_LISTEN=0.0.0.0:9910
IOT_BRIDGE_MQTT_HOST=127.0.0.1
IOT_BRIDGE_MQTT_PORT=1883
IOT_BRIDGE_MQTT_USERNAME=imytest
IOT_BRIDGE_MQTT_PASSWORD=imytest
IOT_BRIDGE_MQTT_TOPIC_ROOT=iot/relay
IOT_BRIDGE_MQTT_KEEPALIVE=60
IOT_BRIDGE_ODOO_BASE_URL=http://127.0.0.1:8069
IOT_BRIDGE_TOKEN=imytest-middleware-token
